@model DoAn2VADT.Database.Entities.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_GlobalLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">
        <form asp-action="Create">
            <div class="page-header">
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a asp-controller="Dashboard" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                        <a asp-controller="Customer" asp-action="Index" class="breadcrumb-item">Danh sách</a>
                        <span class="breadcrumb-item active">Thêm khách hàng</span>
                    </nav>
                </div>
            </div>
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class=" col-md-6">
                        </div>
                        <div class=" col-md-6 text-right">
                            <a class=" btn btn-success fas fa-undo-alt" asp-action="Index"></a>
                            <button class="btn btn-primary fas fa-plus-circle " type="submit"></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Name">Tên khách hàng</label>
                            <input asp-for="Name" class="form-control" is-valid" placeholder="Tên" required />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                         <div class="form-group col-md-6">
                            <label asp-for="Phone">Số điện thoại</label>
                            <input asp-for="Phone" class="form-control" is-valid" placeholder="Số điện thoại" required />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>


                    <div class=" row">
                        <div class="form-group col-md-6 ">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" is-valid" placeholder="Email" />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label asp-for="Address">Địa chỉ</label>
                            <input asp-for="Address" class="form-control" is-valid" placeholder="Địa chỉ" />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>

                    <div class=" row">
                        <div class="form-group col-md-6 ">
                            <label asp-for="Password">Mật khẩu</label>
                            <input asp-for="Password" class="form-control" is-valid" placeholder="Mật khẩu" required />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label asp-for="CreatedAt">Ngày tạo</label>
                            <input asp-for="CreatedAt" class="form-control" is-valid" placeholder="Ngày tạo" required />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>
