@*@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DoAn2VADT.Database.Entities.OrderDetail>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Chit tien" + CurrentPage;
    Layout = "~Areas/Admin/Views/Shared/_GlobalLayout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="card-header">
            <div class="row">
                <div class=" col-md-6">
                </div>
                <div class=" col-md-6 text-right">
                    <a class=" btn btn-primary fas fa-undo-alt" asp-action="Index"></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Anh</th>
                        <th>Giá bán</th>
                        <th>Số lượng</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td><img width="60" height="90" src="~/images/book/@item.Product.Image" alt="@item.Name" /></td>
                                <td>@item.Price.Value.ToString("#,##0") VNĐ</td>
                                <td>@item.Quanlity</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>*@